@charset "UTF-8";

#mainLogo_img {
	width: 200px;
}

#addinfoback {
	height: 100%;
	margin: 20px;
	background-color: #F8F8F8;
}

.addinfocss-111 {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin-top: 50px;
    background-image: url('/static/images/info6.jpg');
    background-size : cover;
}

#addinfobacklogotext {
    color: white;
    font-weight: 900;
    font-size : 30px;
    position: relative;
    left: 3%;
    top: 60%;
}

.nationresult img{
	width: 70px;
}

.Ination p{
	margin-top: 10px;
}

#addinfobackpro {
	width: 40px;
	margin-left: 10px;
}

#addinfobackprotext {
	font-size: 1.3rem;
	margin-bottom: 0;
}

.addinfocss222, .addinfocss333{
	margin-top:20px;
	height: 300px;
	width:100%;
	background-color: white;
	border-radius: 10px;
	border: 0.5px solid #939393; 
}
.addinfocss2221{
	margin-top:20px;
	height: 650px;
	width:100%;
	background-color: white;
	border-radius: 10px;
	border: 0.5px solid #939393; 
}
.addinfocss333{
	margin-bottom: 100px;
}


.addinfocss222 h3, .addinfocss333 h3, .addinfocss2221 h3{
	margin: 10px 0px 0px 15px;
}

/* nav css */

#mainLogo_img {
	width: 200px;
}

#mainbox {
	width: 100%;
	display: flex;
	justify-content: center;
}

#main_backcolor {
	height: 100%;
	margin: 20px;
	background: linear-gradient(90deg, #7E181A 50%, #F9F1DF 50%);
}

#mainPage_img {
	max-width: 70%;
}

.anhsdjw123 {
	float: right;
	margin-bottom: 50;
}

#slidebtn {
	background-color:#F8F8F8;
	border-color:#F8F8F8;
	color: black;
	font-weight: 700;
}

#slidebtn.hover {
	background-color:#F8F8F8;
	border-color:#F8F8F8;
	color: black;
	font-weight: 700;
}

#navIconColor {
	color: black;
}

#loginlogo {
	width: 200px;
}

.loginImgBox {
	display: flex;
	justify-content: center;
	margin: 50px 0px;
}

#Userid, #Username, #Userpwd, #Userpwdok, #Useremail, #signupBtn,
	#signupBtna, #loginMainForm {
	border-radius: 5px;
	border: solid 3px #7E181A;
	box-shadow: none;
}

.btn-close:focus {
	box-shadow: none;
}

.form-control {
	height: 45px;
	font-size: 16px;
}

#signupBtn, #signupBtna {
	width: 100%;
	height: 50px;
	background-color:#7E181A;
	color: white;
	font-size: 16px;
}

#mainSignForgot, #mainSignForgotProfile {
	text-decoration: none;
	color: black;
}

#mainSignForgotProfile {
	display: flex;
	justify-content: end;
	width: 100%;
}

#mainLink {
	display: flex;
	justify-content: space-between;
	opacity: 0.6;
	width: 100%;
}

.offcanvas {
	border-top-left-radius: 15px;
}

#proflieImg {
	width: 150px;
	margin: 100px 0px;
}

.proflieImgBox {
	display: flex;
	justify-content: center;
	width: 100%;
}
#listBtn{
	background-color: #F8F8F8;
	border-color: #fff;
	color: black;
	font-weight: 700;
	float: right;
	margin-bottom: 50;
}

.star{
   display: flex;
   justify-content: space-around;
}
.starresult{
   display: flex;
   justify-content: space-around;
}
.star1,
.Ination,
.Vnation{
   font-size: 20px;
}
.star2,
.Icount,
.Vcount{
   font-size: 30px;
}
.hi{
   margin-left: 15px;
}

.nationdiv,
.nationresult,
.varieties,
.varietiesresult{
   width: 100%;
   display: flex;
}

.Icount,
.Ination,
.Vcount,
.Vnation{
   width: 33%;
   text-align: center;
}

.nationdiv, .varieties{
	margin-top: 50px;
}