  	@charset "UTF-8";

#mainLogo_img {width: 200px;}
#mainbox {width: 100%;display: flex;justify-content: center;}
#main_backcolor {height: 100%;margin: 20px;background: linear-gradient(90deg, #7E181A 50%, #F9F1DF 50%);}
#mainPage_img {max-width: 70%;}
.anhsdjw123 {float: right;margin-bottom: 50;}
#slidebtn {background-color: #F9F1DF;border-color: #F9F1DF;color: black;font-weight: 700;}
#slidebtn.hover {background-color: #F9F1DF;border-color: #F9F1DF;color: black;font-weight: 700;}
#navIconColor {color: black;}
#loginlogo {width: 200px;}
.loginImgBox {display: flex;justify-content: center;margin: 50px 0px;}
#Userid, #Username, #Userpwd, #Userpwdok, #Useremail, #signupBtn,#signupBtna, #loginMainForm, #loginpasswordForm{border-radius: 5px;border: solid 3px #7E181A;box-shadow: none;}
.btn-close:focus {box-shadow: none;}
.form-control {height: 45px;font-size: 16px;}
#signupBtn, #signupBtna {width: 100%;height: 50px;background-color: #7E181A;;color: white;font-size: 16px;}
#mainSignForgot, #mainSignForgotProfile {text-decoration: none;color: black;}
#mainSignForgotProfile {display: flex;justify-content: end;width: 100%;}
#mainLink {display: flex;justify-content: space-between;opacity: 0.6;width: 100%;}
.offcanvas {border-top-left-radius: 15px;}
#proflieImg {width: 150px;margin: 100px 0px;}
.proflieImgBox {display: flex;justify-content: center;width: 100%;}
#listBtn{background-color: #F9F1DF;border-color: #F9F1DF;color: black;font-weight: 700;float: right;margin-bottom: 50;}
/* nav css */
#mainLogo_img {width: 200px;}
#mainbox {width: 100%;display: flex;justify-content: center;}
#main_backcolor {height: 100%;margin: 20px;background: linear-gradient(90deg, #7E181A 50%, #F9F1DF 50%);}
#mainPage_img {max-width: 70%;}
.anhsdjw123 {float: right;margin-bottom: 50;}
#slidebtn {background-color: #F9F1DF;border-color: #F9F1DF;color: black;font-weight: 700;}
#slidebtn.hover {background-color: #F9F1DF;border-color: #F9F1DF;color: black;font-weight: 700;}
#navIconColor {color: black;}
#loginlogo {width: 200px;}
.loginImgBox {display: flex;justify-content: center;margin: 50px 0px;}
#signupBtn, #signupBtna {width: 100%;height: 50px;background-color: #7E181A;;color: white;font-size: 16px;}
#mainSignForgot, #mainSignForgotProfile {text-decoration: none;color: black;}
#mainSignForgotProfile {display: flex;justify-content: end;width: 100%;}
#mainLink {display: flex;justify-content: space-between;opacity: 0.6;width: 100%;}
.offcanvas {border-top-left-radius: 15px;}
#proflieImg {width: 150px;margin: 100px 0px;}
.proflieImgBox {display: flex;justify-content: center;width: 100%;}
#listBtn{background-color: #F9F1DF;border-color: #F9F1DF;color: black;font-weight: 700;float: right;margin-bottom: 50;}