@charset "UTF-8";

#i_name, #i_id, #i_email,.pwdresetclass {border-radius: 5px;border: solid 3px #7E181A;box-shadow: none;height: 45px;font-size: 16px;}
#btnOk {width: 100%;height: 50px;background-color: #7E181A;;color: white;font-size: 16px;}
.vvv{display: flex;justify-content: center;width: 100%;}
#akjhsdkuh{display: flex;justify-content: center;flex-direction: column;text-align: center;width: 500px;height: 500px;margin-left: auto;margin-right: auto;}
.pwdokboxlistcenters{width: 32%;}
#pwdokboxlist {margin-top: 150px;}
#listBtn, #slidebtn {border-radius: 5px;border: solid 1px #fff;box-shadow: none;}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E
}

@font-face {
  font-family: 'Unno';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/unna/v21/AYCKpXzofN0NOpo7l0nG.woff2) format('woff2');
  unicode-range: U+0041-005A, U+0061-007A
}

*{font-family:'IBMPlexSansKR-Regular', 'Unno'}
