<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
#mainLogo_img {
	width: 200px;
}

#main_backcolor {
	height: 100%;
	margin: 20px;
	background-color: #F9F1DF;
}

.css-333 {
	display: flex;
	justify-content: center;
	background-color: #FFFFFF;
	max-width: 640px;
}

.css-111 {
	display: flex;
	justify-content: center;
	background-color: #FFFFFF;
	max-width: 640px;
}
</style>
<body id="main_backcolor">
	<div>
		<header>
			<nav>
				<a href="/"> <img src="static/images/bysante.png" alt="logoimg"
					id="mainLogo_img">
				</a>
				<div class="css-111">
					<div class="css-222">
						<div class="css-333">
							<h2>siasia</h2>
							<h2>siasia</h2>
							<h2>siasia</h2>
							<h2>siasia</h2>
						</div>
					</div>
				</div>
			</nav>
		</header>
	</div>
</body>
</html>