<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<style>
#mainLogo_img {
	width: 200px;
}

#main_backcolor {
	height: 100%;
	margin: 20px;
	background-color: #F9F1DF;
}

.css-111 {
	display: flex;
	justify-content: center;
	background-color: #FFFFFF;
	width: 100%;
}
</style>
<body id="main_backcolor">
	<div>
		<header>
			<nav class='naver'>
				<a href="/"> <img src="static/images/bysante.png" alt="logoimg"
					id="mainLogo_img">'
				</a>
			</nav>
		</header>
		<div class="container">
			<div class="css-111">
				<h2>siasia</h2>
				<h2>siasia</h2>
				<h2>siasia</h2>
				<h2>siasia</h2>
			</div>
		</div>
	</div>
</body>
</html>