<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/winelistcss.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/pwdok.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/font.css" />
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <!-- 비밀번호찾기 페이지 -->
</head>

<body>
    {% include "nav.html" %}
    <div class="conteiner">
        <main>
            <div id="pwdokboxlist">
                <div class="vvv">
                    <img class="pwdokboxlistcenters" src="static/images/i_pwdok.png">
                </div>
                <form class="form-inline center" action="pwdreset" method="post" id="akjhsdkuh">
                    {% csrf_token %}
                    <input class="form-control" type="text" placeholder="NICKNAME" name="name" id="i_name">
                    <br /><br>
                    <input class="form-control" type="text" placeholder="ID" name="id" id="i_id" />
                    <br /><br>
                    <input class="form-control" type="text" placeholder="E_MAIL" name="email" id="i_email" />
                    <br /><br>
                    <input class="btn btn-outline-danger" type="submit" id="btnOk" value="Change" /> <br />
                </form>
            </div>
        </main>
    </div>
</body>

</html>