<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>회원가입</h1>
<a href="/">돌아가기</a>
{{error}}
<!-- <p style="color:red">*{{error}}*</p> -->
<form action="signupok" method="post">{% csrf_token %}
닉네임<input type="text" placeholder="닉네임" name="name"/>
<br />
아이디<input type="text" placeholder="아이디" name="id"/>
<br />
패스워드<input type="text" placeholder="패스워드" name="pwd"/>
<br />
패스워드 확인<input type="text" placeholder="패스워드 확인" name="pwdok"/>
<br />
이메일<input type="text" placeholder="이메일" name="email"/>
<br />
<input type="submit" value="가입하기"/>
<br />
</form>
</body>
</html>